# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual Environments ----
.venv/
venv/

# ---- VSCode ----
.vscode/
*.code-workspace

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Logs ----
*.log

# locks locales (opcional)
**/requirements.lock.txt
